<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Demo project - Students</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
</head>

<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function rowClicked(value) {
        location.href = "student/" + value;
    }
</script>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>

    <!-- Table -->
    <table class="table table-striped">
        <caption>Students</caption>
        <tr><th>Last Name</th><th>First Name</th><th>Birth date</th></tr>
        <tr th:each="student : ${students}" th:onclick="'javascript:rowClicked(\'' + ${student.id} + '\');'">
            <td th:text="${{student.lastName}}">Title ...</td>
            <td th:text="${{student.firstName}}">Text ...</td>
            <td th:text="${{student.birthDate}}">Text ...</td>
        </tr>
    </table>

    <form action="#" th:action="@{'/addstudent'}" th:method="get" >
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" class="btn btn-default">Create student</button>
    </form>
</div>



</body>
</html>