<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Demo project - Student details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
</head>

<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function rowClicked(value) {
        location.href = "student?param=" + value;
    }
</script>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>

    <!-- Table -->
    <table class="table table-striped">
        <caption>Students</caption>
        <tr><th>Last Name</th><th>First Name</th><th>Birth date</th><th>Gender</th></tr>
        <tr>
            <th th:text="${{student.getLastName()}}">.</th>
            <th th:text="${{student.getFirstName()}}">.</th>
            <th th:text="${{student.getBirthDate()}}">.</th>
            <th th:text="${{student.getGender()}}">.</th>
        </tr>
    </table>
</div>



</body>
</html>